<div class="app" [class.move] = 'animate'>
  <div class="card">
    <h1 [hidden]="isStudy">Study</h1>
    <h1 [hidden]="isBreak">Break</h1>
    <div class="counter">
        <div class="number" [hidden]="isStudy">
          <div #idOuter class="outer">
            <div class="inner">
              <div id="number">
                {{workDuration | number:'2.0'}}:{{seconds | number:'2.0'}}
              </div>
            </div>
          </div>
        </div>
        <div class="number" [hidden]="isBreak">
          <div #idOuterbreak class="outer">
            <div class="inner">
              <div id="number">
                {{breakDuration | number:'2.0'}}:{{breakseconds | number:'2.0'}}
              </div>
            </div>
          </div>
        </div>
    </div>

    <button class="middle" [hidden]="isBreak" (click)="startBreak()"><mat-icon aria-hidden="false" fontIcon="play_arrow"></mat-icon></button>
    <button class="middle" [hidden]="isStudy" #idstart (click)="start()" [disabled]="disabled"><mat-icon aria-hidden="false" fontIcon="play_arrow"></mat-icon></button>

    <div class="buttons">
      <button (click)="reset()"><mat-icon aria-hidden="false" aria-label="Example restart_alt icon" fontIcon="restart_alt"></mat-icon></button>
      <button (click)="stop()" ><mat-icon aria-hidden="false" aria-label="Example pause icon" fontIcon="pause"></mat-icon></button>
      <button (click)="toggleDisplay()"><mat-icon aria-hidden="false" aria-label="Example settings icon" fontIcon="settings"></mat-icon>
      </button>
    </div>
  </div>


  <div class="settings-card" [hidden]="isDisplay">
    <div class="upthere">
    <h1>Settings</h1> <button (click)="toggleDisplay()"><mat-icon aria-hidden="false" aria-label="Example close icon" fontIcon="close"></mat-icon></button>
    </div>
    <div class="counter">
      <h1>Work Duration</h1>
      <button (click)="decrease_focusTime()">-</button>
      <div class="number">{{workDuration}}</div>
      <button (click)="increase_focusTime()">+</button>
  </div>
  <div class="counter">
    <h1>Break Duration</h1>
    <button (click)="decrease_breakTime()">-</button>
    <div class="number">{{breakDuration}}</div>
    <button (click)="increase_breakTime()">+</button>
</div>
<!-- <div class="ringtone">
  <h1>Choose sound</h1>
<select>
  <option>
    Beyond Good And Evil Extended
  <audio #idAudio controls (click)="changeValue1" class="done">
  <source type="audio/wav" src="../assets/beyond_good_and_evil.mp3">
  </audio>
  </option>
  <option>
    Yoshi Island
  <audio #idAudio2 controls class="done">
  <source type="audio/wav" src="../assets/flower_garden.mp3">
  </audio>
  </option>
</select>
</div> -->
  </div>

  <audio #idAudio controls class="done">
    <source type="audio/wav" src="../assets/flower_garden.mp3">
    </audio>
</div>
