<div class="app">
  <div class="card">
    <h1>Study</h1>

    <div class="counter">
        <div class="number">25</div>
    </div>

    <div class="buttons">
      <button><mat-icon aria-hidden="false" fontIcon="play_arrow"></mat-icon></button>
      <button><mat-icon aria-hidden="false" aria-label="Example pause icon" fontIcon="pause"></mat-icon></button>
      <button><mat-icon aria-hidden="false" aria-label="Example restart_alt icon" fontIcon="restart_alt"></mat-icon></button>
      <button><mat-icon aria-hidden="false" aria-label="Example settings icon" fontIcon="settings"></mat-icon>
      </button>
    </div>
  </div>

</div>
