@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.app{
  display: flex;
  justify-content: center;


  .card{
    margin: 5% 0;
    text-align: center;
    border-radius: 30px;
    width: 500px;
    height: 550px;
    z-index: 999;
    background-color: #2a9d8f;

    h1{
      color: #111;
      letter-spacing: 10px;
      font-family: 'Raleway', sans-serif;
      font-weight: 500;
      font-size: 40px;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      border-bottom: 5px solid #e76f51;
    }

    .move{
      animation: move_timer 1.3s infinite;
    }

    @keyframes move_timer {
      20%,
      50%,
      80%{
        transform: translateY(0px) ;
      }
      30%{
        transform: translateY(-45px);
      }
      60%{
        transform: translateY(-25px);
      }
    }

    h1{
      padding: 2rem;
    }
    .counter{
      font-size: 40px;
      display: flex;
      justify-content: center;
      text-align: center;
      width: 100%;

      .number{

        .inner{
          background-color: #2a9d8f;
          height: 120px;
          width: 120px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding:20px;
          border-radius: 50%;
        }

      }
    }
    .middle{
      margin-top: 3.5rem;
      width: 150px;
      border-radius: 50px;
      background: #287271;
      height: 50px;
      border: 2px solid #287271;
      padding: 0.5rem;
      transition: all 0.5s ;
      cursor: pointer;
      &:hover{
        background-color: #e76f51;
        border: 2px solid #e76f51;
        color: snow;
      }
    }
    .buttons{
      display: flex;
      position: relative;
      top: 20px;
      justify-content: center;

     

      button{
        width:80px;
        height:80px;
        border: none;
        background-color: #2a9d8f;
        transition: all 0.5s;
        border-radius: 50%;
        &:hover{
          cursor: pointer;
          background-color: #e76f51;
          color:snow;
        }
      }
    }
    }
  }
  .settings-card{
    border: 2px solid #e76f51;
    z-index: 9999;
    position: absolute;
    margin-top: 5%;
    text-align: center;
    border-radius: 30px;
    width: 500px;
    height: 550px;
    background-color: #2a9d8f;
  }

.done{
  display: none;
}

