/* You can add global styles to this file, and also import other style files */
body{
  margin: 0;
  background-color: #a0c4ff;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.outer{
  background: conic-gradient(#506bf1 1deg , #eee 0deg);
  height: 160px;
  width: 160px;
  padding:20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
  -6px -6px 10px -1px rgba(255,255,0255,0.7);
}
